@using _ASP_MVC_Practice.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-pull-4 col-md-offset-4">

    <div class="container">
        <div class="">
            <label for="">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username" name="uname" required>

            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="pword" required>

            <button type="submit" class="btn" name="btnSubmit">Submit</button>
            <input type="checkbox" name="checked"> Remember me
        </div>
    </div>

    <div class="container">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

</div>